body {
  background: black;
  color: aliceblue;
}

header {
  padding: 1% 5%;
}

header img {
  width: 100%;
}

main {
  background: #3e4546;
  border: aliceblue solid 1px;
  border-radius: 10px;
  margin: 1% 5%;
  padding: 1% 3%;
}

section.content {
  background: aliceblue;
  padding: 1.5%;
  border-radius: 10px;
  min-height: 500px;
  color: black;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

header .sub-headline {
  font-size: 2em;
}


.flex-container {
  display: flex;
}

.w-50 {
  width: 50%;
}

button {
  font-size: 1em;
  color: aliceblue;
  padding: 1.3em;
  background-color: #52696c;
  border-color: aliceblue;
  cursor: pointer;
  margin: 0 1em;
}
button:hover {
  background-color: #324244;
}

