.controlBar {
  width: var(--app-content-size);
  margin: auto;

  padding-top: 4rem;
  display: flex;

  select {
    margin: 0.2rem;
    font-size: 1.2rem;
  }

  input {
    margin-left: auto;
    padding: 0.2rem;
    font-size: 1.2rem;
  }
}
